<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css" />
</head>
<body>
 <h1>Kharma-Nailah Johnson</h1>
 <img src = "{{url_for ('static', filename ='HakYona.jpg') }}" />
 <p>I am a final year Computer Science student with an interest in education and language.
     I intend all the objectives I have laid out for myself. 
     I find this aspect of computing very enjoyable unlike the others.
     I am the eldest granddaughter to my maternal grandparents.
    I chose to do computer Science because I liked studying IT and tutoring the subject at High school. </p>
</body>
</html>